{{#each wods as |wod|}}
  <!-- {{> partial}}
  Don't uncomment yet -->
  <div>
    <h3 data-id="{{wod.id}}"> <small>Athelete: {{wod.user.email}}</small></h3>
  <section data-id="{{wod.id}}">
    <p>{{#if wod.metcon}}
    <medium>Wod Id: <medium>{{wod.id}}
    <p><medium>Metcon: </medium>{{wod.metcon}}</p>
    <p><medium>Results: </medium>{{wod.result}}</p>
    {{else}}
      go workout.
    {{/if}}
    </p>
    <button class="delete" type="submit" class="btn btn-secondary">Remove</button>
  </section>
  </div>
  <br>

{{/each}}
